
<mat-card class="example-card">
  <form [formGroup]="service.form" class="normal-form" (ngSubmit)="Onsubmit()">
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="$key">
          <mat-form-field>
            <input formControlName="fullName" matInput placeholder="Full Name*">
            <mat-error>This field is mandatory but no Whitespaces.</mat-error>
            
          </mat-form-field>
          <mat-form-field>
            <input formControlName="email" matInput placeholder="Email">
            <mat-error>Invalid email address.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="phone" matInput placeholder="phone*">
            <mat-error *ngIf="service.form.controls['phone'].errors?.required">This field is mandatory.</mat-error>
            <mat-error *ngIf="service.form.controls['phone'].errors?.minlength">Minimum 8 charactors needed.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="city" matInput placeholder="City">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="controles-container">
          <div class="add-bottom-padding">
            <mat-radio-group formControlName="gender">
              <mat-radio-button value="1">Male</mat-radio-button>
              <mat-radio-button value="2">Female</mat-radio-button>
              <mat-radio-button value="3">Other</mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field>
            <input formControlName="website" matInput placeholder="website">
          </mat-form-field>

          <div class="button-row">
            <button mat-raised-button color="primary" type="submit">Submit</button>

            <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-card>